port: 3000
trustProxy: true
db:
  type: mariadb
  host: tasks.wikijs_mariadb
  port: 3306
  user: wikijs
  pass: {{ wikijs_db_password }}
  db: wikijs
  ssl: false
ssl:
  enabled: false
pool:
bindIP: 0.0.0.0
logLevel: info
uploads:
  maxFileSize: 524288000
  maxFiles: 10
offline: true

